<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style>
      /****  TEMPORARY STYLE FOR CURRENT VERSION OF THE FORM ****/
      #eventForm{
        width:80%;
        margin:0 auto;
      }
  </style>

<div id="eventForm">
  <form>
    <div class="control-group">
      <div class="controls">
       <%= f.text_field :name, :placeholder => "Name", :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_area :description, :placeholder => "Description", :rows => 5, :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :time, :placeholder => "Time", :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :admin, :placeholder => "Host Name", :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :email, :placeholder => "Host Email", :class => "input-xxlarge" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Create Event", :class => 'btn pull-right' %>
      </div>
    </div>
  </form>
</div>

<br/>
<h1>&nbsp;</h1>

<% end %>
