<h1>Editing event</h1>

<p>If you are the organizer for this event, check your email <%= @event.private_email %> for the admin key.</p>

<%= render :partial => '/events/adminkey' %>

<!-- <%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %> -->
<%= link_to 'Back', @event %> 
