<% if notice %>
	<div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<h1 id="eventName" style="display:inline;"><%= @event.name %></h1>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<br/><br/>
<dd><em><%= @event.description %></em></dd>
<br/>
<br/><br/>

<!-- Drivers -->
<ul>
	<% @drivers.each do |driver| %>
			<!-- Riders -->
			<ul class="driver" id="driver_<%= driver.id %>">
				<li class="headrider unmoveable"><%= driver.name %></li>
			<% @riders.each do |rider|   # Temporary solution, want to optimize later  %>
				<% if rider.driver_id == driver.id %>
					<%= content_tag_for :li, rider, :data => "this" do %>
						<%= rider.name %>
					<% end %>
				<% 	end %>
			<% end %>
			</ul>
	<% end %>
</ul>

<% if @drivers.empty? %>
	<em>Currently no drivers...</em><br/>
<% end %>
<br />

<div style="display:block; width:100%; height:10px; clear:both;">&nbsp;</div>

<br/>

<script type="text/javascript">
	$(function() {
	$( ".driver" ).sortable({
      items: "li:not(.unmoveable)",
	  connectWith: ".driver",
	  placeholder: "ghostRider",
	  update: function(){
	  	$.post($(this).data(), $(this).parent(".driver").attr('id'));
	  }
	}).disableSelection();
	})

	$(document).ready(function () {
		$('#notice').delay(2000).fadeOut('slow');
	})
</script>