<% if notice %>
	<div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<h1 id="eventName"><%= @event.name %></h1>
<dd><em><%= @event.description %></em></dd>
<br/><br/>

<p><u>Drivers </u></p>
<% @drivers.each do |driver| %>
	<em><%= driver.name %></em><br/>
	<% @riders.each do |rider|
		#
		# Temporary solution, want to optimize later
		#
		if rider.driver_id == driver.id %>
		<em><%= rider.name %></em><br/>
	<% 	end
	end %>
<% end %>

<% if @drivers.empty? %>
	<em>Currently no drivers...</em><br/>
<% end %>
<br />

<br/>
<br />
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% if notice %>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#notice').delay(2000).fadeOut('slow');
		})
	</script>
<% end %>