<style>
	.driver, .rider, .ghostRider{
		display:block;
	}
	.rider, .ghostRider{
		padding:20px;
		margin:10px 0;
	}
	.rider{
		margin-left:25px;
		background: #999999;
	}
	.ghostRider{
		background: #333333;
		min-height:25px;
	}
	.driver{
		width:300px;
		background:#440000;
		padding:5px;
		min-height:25px;
	}
</style>

<% if notice %>
	<div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<h1 id="eventName"><%= @event.name %></h1>
<dd><em><%= @event.description %></em></dd>
<br/><br/>

<!-- Drivers -->
<ul>
	<% @drivers.each do |driver| %>
		<h3><%= driver.name %></h3>
			<!-- Riders -->
			<ul class="driver" id="driver<%= driver.id %>">
			<% @riders.each do |rider|   # Temporary solution, want to optimize later  %>
				<% if rider.driver_id == driver.id %>
					<li class="rider driver<%= driver.id %>" id="rider<%= rider.id %>"><%= rider.name%></li>
				<% 	end %>
			<% end %>
			</ul>
	<% end %>
</ul>

<% if @drivers.empty? %>
	<em>Currently no drivers...</em><br/>
<% end %>
<br />

<br/>
<br />
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<% if notice %>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#notice').delay(2000).fadeOut('slow');
		})
	</script>
<% end %>

<script type="text/javascript">
  $(function() {
    $( ".driver" ).sortable({
      connectWith: ".driver",
      placeholder: "ghostRider"
    }).disableSelection();
  });

</script>