<p id="notice"><%= notice %></p>

<h2>Rider info</h2><br/>
<p>
  <b>Name:</b>
  <%= @rider.name %>
</p>

<p>
  <b>Driver:</b>
  <%-# This line should be fixed:  <%= @rider.driver.name (ID: <%= @rider.driver_id -%>
</p>

<p>
  <b>Event:</b>
  <%= @rider.event.name %> (ID: <%= @rider.event_id %>)
</p>

<p>
  <b>Telephone:</b>
  <%= @rider.telephone %>
</p>


<%= link_to 'Edit', edit_event_rider_path(@event, @rider) %> | 
<%= link_to 'Back', @event %>