<p id="notice"><%= notice %></p>

<h2>Rider info</h2><br/>
<p>
  <b>Name:</b>
  <%= @rider.name %>
</p>

<p>
  <b>Event:</b>
  <%= @rider.event.name %> (ID: <%= @rider.event_id %>)
</p>

<p>
  <b>Telephone:</b>
  <%= @rider.telephone %>
</p>

<br/>
<% if @rider.waitlist == true %>
	<p> You are currently on the waitlist, you will be assigned a driver as soon as possible.  </p>
<% else %>
	<p> You currently are assigned to a driver </p>
<% end %>
<br/>

<%= link_to 'Edit', edit_event_rider_path(@event, @rider) %> | 
<%= link_to 'Back', @event %>