<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rider.name %>
</p>

<p>
  <b>Driver:</b>
  <%= @rider.driver_id %>
</p>

<p>
  <b>Waitlist:</b>
  <%= @rider.waitlist_id %>
</p>

<p>
  <b>Event:</b>
  <%= @rider.event_id %>
</p>


<%= link_to 'Edit', edit_event_rider_path(@event, @rider) %> 
