<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @driver.name %>
</p>

<p>
  <b>Spots:</b>
  <%= @driver.spots %>
</p>

<p>
  <b>Event:</b>
  <%= @driver.event_id %>
</p>

<p>
  <b>Telephone:</b>
  <%= @driver.telephone %>
</p>


<%= link_to 'Edit', edit_event_driver_path(@event, @driver) %> 
