<p id="notice"><%= notice %></p>

<h2>Driver info</h2><br/>
<p>
  <b>Name:</b>
  <%= @driver.name %>
</p>

<p>
  <b>Spots:</b>
  <%= @driver.riders.size %> out of <%= @driver.spots %> spots are occupied
</p>

<p>
  <b>Event:</b>
  <%= @event.name %> (ID: <%= @driver.event_id %>)
</p>

<p>
  <b>Telephone:</b>
  <%= @driver.telephone %>
</p>


<%= link_to 'Edit', edit_event_driver_path(@event, @driver) %> | 
<%= link_to 'Back', @event %>
