<!DOCTYPE html>
<html lang="en">
<head>
	<title>CarPoodle :: Quick and Easy Carpooling</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<style type="text/css">

      /* Custom container */
      .container-narrow {
        margin: 15px auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

	</style>
	<meta charset="utf-8" />
 	<script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul> 
        <%= image_tag("logo.png", :alt => "Logo", :width => "150px") %>
        <img src="/logo.png" alt="Logo" width="150px"/>
        <h2 class="muted" style="display:inline">CarPoodle</h2>
      </div>

      <hr>

<%= yield %>

    
      <hr>

      <div class="footer">
        <p>&copy; CarPoodle 2012</p>
      </div>

    </div> 


		</div>
</body>
</html>
