<!DOCTYPE html>
<html lang="en">
<head>
	<title>CarPoodle :: Quick and Easy Carpooling</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
	<style type="text/css">

      /* Font */

      html, body{
        font-family:verdana !important;
      }

      /* Custom container */
      .container-narrow {
        margin: 20px auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* no backgrounds on img hover */

      a:hover{
      	background:none;
      }

      /* link color */

      .btn:visited{
          color: #333;
      }
      .btn:hover{
          color: #fff;
      }

      /* New Event Container */

      .hidden {
          display:none;
      }

      /* fix for the current new event form */

      .marketing{
        clear:both;
      }

      /* Social Network */

      #socialnetwork{
        position:fixed;
        top:10px;
        right:10px;
      }

      #socialnetwork img{
        display:block;
        margin-bottom:5px;
      }

	</style>
	<meta charset="utf-8" />

</head>
<body>
    <div id="socialnetwork">
      <br /><br /><br /><br />
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FCarPoodle&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=recommend&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe><br />
      <a href="https://twitter.com/CarpoodleApp" class="twitter-follow-button" data-show-count="false">Follow @CarpoodleApp</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="container-narrow">

      <div class="masthead">
<% 
=begin %>
        <ul class="nav nav-pills pull-right">
          <li <%= if request.fullpath == "/"
                  'class=active'
                  end %>><%= link_to "Home", '/' %></li>
          <li <%= if request.fullpath == "/about"
                  'class=active'
                  end %>><%= link_to "About", '/about' %></li>
          <li <%= if request.fullpath == "/contact"
                  'class=active'
                  end %>><%= link_to "Contact", '/contact' %></li>
        </ul> 
        <% 
=end %>
        <%= link_to image_tag("logotoo.png", :alt => "Logo", :style => "display:block;margin:0 auto;"), '/' %>
      </div>


      <hr>

<%= yield %>

    
      <hr>

      <div class="footer">
        <p>&copy; <a href="mailto:contact@carpoodle.com">CarPoodle 2012</a></p>
      </div>

    </div> 


		</div>
</body>
</html>
