<!DOCTYPE html>
<html lang="en">
<head>
	<title>CarPoodle :: Quick and Easy Carpooling</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<style type="text/css">

      /* Custom container */
      .container-narrow {
        margin: 15px auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* no backgrounds on img hover */

      a:hover{
      	background:none;
      }

      /* link color */

      .btn:visited{
          color: #333;
      }
      .btn:hover{
          color: #fff;
      }

	</style>
	<meta charset="utf-8" />
 	<script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li <%= if request.fullpath == "/"
                  'class=active'
                  end %>><%= link_to "Home", '/' %></li>
          <li <%= if request.fullpath == "/about"
                  'class=active'
                  end %>><%= link_to "About", '/about' %></li>
          <li <%= if request.fullpath == "/contact"
                  'class=active'
                  end %>><%= link_to "Contact", '/contact' %></li>
        </ul> 
        <%= link_to image_tag("logo.png", :alt => "Logo", :width => "150px", :style => "display:inline;"), '/' %>
        <h2 class="muted" style="display:inline">CarPoodle</h2>
      </div>

      <hr>

<%= yield %>

    
      <hr>

      <div class="footer">
        <p>&copy; CarPoodle 2012</p>
      </div>

    </div> 


		</div>
</body>
</html>
